:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "TImes New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
article {
    position: absolute;
    padding: .4rem;
    background-color: var(--accent1-color);
    color: #fff;
    opacity: 0.7;
    bottom: 15rem;
}
.hero article img {
    float: right;
    width: 125px;
}
section h2 {
    background-color: var(--accent1-color);
    color: #fff;
    padding: .4rem;
    text-align: center;
}
footer {
    border-top: 1px solid #000;
    line-height: 0;
}
footer nav {
    width: 100%;
}
footer nav img {
    width: 30px;
}